#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

image {
    width: 10px;
    height: 10px;
}

.button {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.button1:hover {
    background-color: #4caf50;
    color: black;
}

h3 {
    font-weight: 30px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 1%;
}

h2 {
    color: black;
}
