.vertical-menu {
    width: 200px;
    margin-left: 5%;
    margin-top: 15%;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4caf50;
    color: white;
  }