 .VocabularyItem{
    width: 1000px;
}

.vocabulary {
    width: 220px;
    height: 300px;
    margin-left: 28px;
    margin-top: 5px;
    border: 1px solid grey;
    padding:5px;
    float:left;
    display:block;
}

.item1 {
    text-transform: uppercase;
    text-align: left;
}

.vocabulary h4 {
    font-size: 15px;
}

.h3 {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
   
}

.item2 {
    float: right;
}

 .vocabulary h3, h4{
    border-bottom: 0.3px solid #000;

} 

.button {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.button1:hover {
    background-color: #4caf50;
    color: black;
}

.VocabularyItem button {
    width: 150px;
    height: 35px;
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
  }
  
  .VocabularyItem button:hover {
    font-size: 15px;
  }
  